extends layout 

block content 
    h1 #{title} 
    h4 ID: #{bookInstance._id}

    p Do you really want to delete this instance of #{bookInstance.book.title} book?
    form(method="POST" action="") 
        input(type="hidden" name="instanceid" value=bookInstance._id)
        button.btn.btn-danger(action="submit") Delete